---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Exploring the Galaxy</h1>
<img class="spaces" alt="space created on figma" src="/images/space.png" width="50" />
<h2 class="smlh2">We question our devotion to space exploration on a daily basis. 
Were here to do an indepth review of those belives and relive the glory days of pushing for the 
first person to set foot into space by talking about distant planets, seeking to find out what we can
about these giants.</h2>
<h2 class="medh2">Check Out Our Blogs Posts about Exploring the Galaxy:</h2>
<div class="container1">
    <div class="container2">
        <a href="/Post1/"><img src="/images/Keplar.png" class="imglink1" alt="Created image of fictional planet on figma"></img></a>
        <h3 class="imglink1caption">Kepler-XAE</h3>
    </div>
    <div class="container2">
        <a href="/Post2/"><img src="/images/plutom.png" class="imglink1" alt="Created image of fiction planet on figma"></img></a>
        <h3 class="imglink2caption">Plutonium-3</h3>
    </div>
</div>