---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About page">About</a></li>
      <li><a href="/Post1/" title="Kepler-XAE">Kepler-XAE</a></li>
      <li><a href="/Post2/" title="Plutonium-3">Plutonium-3</a></li>
    </ul>
  </nav>
    {{ content }}
    <h2 class="footers">{% footer 'Exploring the galaxy is proudly funded by XEON' 'Est. 1H23XR4' %}</h2>
</body>
</html>